*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'spartan', sans-serif;


    
}
body{
    background-color: rgb(221, 210, 210);
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 70px 2px;
    background: #1a1919;
    box-shadow: 1px 1px 4px 2px rgb(0, 0, 0);
    z-index: 999;
    position: sticky;
    top: 0px;
    bottom: 0px;
    height: 81px;
}

    


#navbar {
    display: flex;
    list-style: none;
    margin: 10px;
    border: 5px;
   
    
}
#navbar li a:hover{
    color:#f0e1e1;

    
}
#navbar li a:hover,
#navbar li a.active{
    color:#e96e6ebf;
    
}



#logo{
    margin-left: 25px;
    padding: 5px;
    position: relative;
    left: -50px;
    
}
.item{
    padding: 20px;
    text-decoration: none;
    color: rgb(255, 251, 251);
    font-weight: 200;
    transition: 0.3s ease;
   
}
#home{
    padding: 20px;
    text-decoration: none;
}




/* home page*/

#hero{
   

    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  
   

}
#hero h4{
    font-size:25px ;
    padding: 5px

}

#hero h2{
    font-size: 55px;
    padding: auto;

}
#hero h1{
    font-size: 60px;
    padding: 0px;
    color:#fa0f0fbf;

}
#hero p{
    font-size: 15px ;
    padding: 7px;
    

}
#hero button{
  
    background-image: url("pngtree-colorful-gradient-banner-modern-textbox-png-image_3562826-removebg-preview.png");
    background-color: transparent;
   
    
}
.section-p1{
   
    
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 80px;
    padding-right: 50px;
    
}
   
#feature .fe-box{
    width:180px;
    text-align: center;
   
    box-shadow: 1px 2px 10px rgb(180, 137, 137);
    font-size: 25px;
    height: 200px;
   
    border-radius: 50px;
}


#feature{
    display: flex;
   
    align-items: center;
    flex-wrap: wrap;
    
}
.fe-box h6{
   position: relative;
   bottom: 60px;

}
.img{
    position: relative;
    bottom: 20px;
}
#feature .fe-box:hover{
    box-shadow: rgb(222 65 65) 1px 2px 5px;
    transition: 0.5s ease;
    
}
#products{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 450px;
   

}
#products h1{
    font-size: 60px;
    margin-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #c95555;
}
#products p{
    margin-top: 12px;
    margin-left: 120px;
    font-size: 20px;
    color: #87696b;

}
.product-box{
   
    height: 420px;
    width: 280px;
    margin-left:130px;
    margin-top:55px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    border-color: #c95555;
  box-shadow: rgb(163 88 88) 1px 3px 4px;
    background-color: antiquewhite;
    
}
.product-box:hover{
    box-shadow: rgb(242 132 132) 1px 3px 4px;
}
.product-box .image-box{
    border: 1px solid #aea5a5;
  
    margin-top: 20px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgb(184 182 182) 1px 3px 4px;
    background-color: #cbcbcb;
    
}

.pro-boxes{
  display: flex;
  
  flex-wrap: wrap;
  align-items: center;
 
 
}
#img-1{
    overflow: hidden;
}
.comp{
    margin-left: 5px;
    margin-top: 10px;
    color: #868383;
    font-weight: bold;
}
.title{
    margin-left: 5px;
    margin-top: 7px;
    font-size: 15px;
    font-weight: bold;
}
.price{
    margin-left: 5px;
    margin-top: 15px;
    color: #bb5656;
    font-weight: bold;
}
#poster{
    margin-top: 80px;
    margin-left: 25px;
    border:5px solid rgb(206, 84, 108);
    box-shadow: rgb(15, 15, 15) 1px 3px 4px;
    margin-bottom: 20px;
}
#banner{
    min-width: 550px;
    height:80vh;
    margin-left: 80px;
    margin-top: 20px;
  
   
    border-radius: 5px;
}

#ban{
    border: 5px chocolate;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    background-color: #f39191;
    background-image: url("Launch of an all-newlistening experience (1).png");
    padding-bottom: 20px;
    
 
   
}
#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #cf6c6c;
    height: 150px;
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: rgb(255, 255, 255) 1px 20px 3px 3px;
   
 


}
#newsletter h4{
    color: #fff7f7;
    font-size: 35px;
}
#newsletter p{
    color: #000000;
    position: relative;
    top: 5px;
    left:5px;
    font-size: 13px;
}
#newsletter p span{
    color: rgb(255, 250, 251);
}
#newsletter input{
    height: 40px;
    width: 250px;
    border-radius: 4px;
    border: 1px solid transparent;
    padding-left: 20px;
    color: #a54b4b;
    outline: none;
    font-size: 15px;
    position: relative;
    top:8px;
    box-shadow: rgb(235, 56, 56) 1px 2px 4px;
}
#newsletter button{
    height: 40px;
    width: 70px;
    border: 0px;
    position: relative;
    top:7px;
    right:3px;
    background-color: #000000;
    color: #cbcbcb;
    border-radius: 4px;
    box-shadow: rgb(241, 52, 52) 1px 2px 4px;
   
}

#footer{
    height: 60vh;
    background-color: #191818;
    display: flex;
  
    padding-top: 100px;
    padding-left: px;
   
   
}
#foot-logo{
   position: relative;
   bottom:75px;
   left : 78px;
   
}
.foot-item{
    display: flex;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
    padding-top:10px;
    padding-left:85px; 
    color: white;
    font-size: 15px;
    position: relative;
    bottom: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
   
}
.f-top{
    color: white;
    font-size: 15px;
    position: relative;
    left:85px;
    bottom:35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.fo{
    color: #ffffff;
    padding-top: 5px;
    font-size: 15px;
    position:relative;
    top:68px;
    right:28px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#fo-co{
    color: white;
    position: relative;
    top:60px;
    font-size: 20px;
    right:28px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#not{
    height: 25px;
    width: 100%;
    
 
    position: relative;
   
    z-index: auto;
}
#copyright{
    position: relative;
    top: 150px;
    left: 350px;
    color: white;
font-size: 13px;
}
#bigimage{
    border: 1px solid rgb(7, 7, 7);
    background-color: #f36f6f;
    height: 60vh;
    width:30%;
    margin-left: 100px;
    margin-top: 70px;
    display:flex;
    flex-wrap: wrap;
   justify-content: center;
    padding-right:10px;
    padding-top: -100px;
    border-radius: 10px;
    object-fit: contain;
    
    


}
#prodetails{
    display:flex;
    flex-wrap: wrap;
    margin-left: 0px;
    background-color: #fff8f8;
    height: 90vh;
   
}    
.single-pro-detail{
    margin-top: 80px;
    margin-left: 20px;
    width: 35%;
    height:60vh;
    border: 0px solid rgb(0, 0, 0);
    background-color: #ffffff;
    padding-top:20px;
    border-radius: 20px;
    padding-left: 20px;
    color: rgb(0, 0, 0);
   



}
.single-pro-detail h6{

    font-size: 15px;
}

.single-pro-detail h4{
    padding-top: 40px;
}
.single-pro-detail h2{
    padding-top:35px;
    color:  #f34e4e;
}
.single-pro-detail select{
    margin-top:8px;
    height: 25px;
  display:block;
  outline: none;

}
.single-pro-detail input{
    width:30px;
 
    margin-top:20px;
    width: 45px;
    height:35px;
    padding-left:17px;
    color:  #f34e4e;
    font-weight: bolder;
    font-size: 17px;
    outline:none;
}
.single-pro-detail button{
    width: 45px;
    height:35px;
    width: 150px;
    margin-left:5px;
    color: #ffffff;
    background-color:  #f34e4e;
    font-size: 20px;
    border: 0px;
    border-radius: 5px;
}
#p-h{
    font-size: 20px;
}
#para{
    margin-top: 10px;
    font-size: 15px;
}
#pro-img{
    position: relative;
    bottom: 60px;
    left: 8px;
}
